
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
  }
  html{
    overflow-x: hidden;
    overflow-y: hidden;
  }
  body{
    overflow-x: hidden ;
    overflow-y: hidden ;
  }
  
  .main-container {
    display: flex;
    justify-content: center;
  }
  
  /* first container with mobile desgin */
  .first-container {
    width: 1200px;
    height: 700px;
    margin: 100px 200px;
    background: #f1eded;
    border-radius: 30px;
  }
  
  @media (min-width: 360px) and (max-width: 768px) {
    .first-container {
      width: 400px;
      height: 100vh;
      margin: 0px 0px;
      border-radius: 5px;
    }
  }
  
  /* navigation bar  is in width of first-container so it gets the width of the first container*/
  
  .navigation_div {
    width: 1200px;
    height: 110px;
    border-radius: 30px;
    background: #c8c7c7;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .name_div{
    width: 325px;
    padding: 25px 0px;
}
  
  label{
    
      font-size: 50px;
      font-family: 'DynaPuff', cursive;
  }
  #menu_div .open_img{
      width: 50px;
      height: 50px;
      margin: 35px 10px;
      cursor: pointer;
      background: transparent;
      display: none;
      
  }
  #menu_div .close_img{
      width: 70px;
      height: 70px;
      margin: 30px 10px;
      cursor: pointer;
      background: transparent;
      display: none;
      
  }

   .menu-list{
     display: flex;
     gap: 4.8rem;
     list-style: none;
   }
  .nav-link:link,.nav-link:visited{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: black;
    font-size: 1.5rem;
    transition: all 0.3s;
  }
  
  @media (min-width: 360px) and (max-width: 760px){
    .first-container{
      position: relative;
    }
      .navigation_div {
          width: 400px;
          height: 55px;
          border-radius: 30px;
          background: #c8c7c7;
          border-radius: 5px 5px 0 0;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      
      .name_div{
        width: 180px;
        padding: 10px 0px;
    }
      
      label{
          font-size: 30px;
          font-family: 'DynaPuff', cursive;
      }
      #menu_div{
        height: 50px;
        width: 50px;
        z-index: 999;
      }
      #menu_div .open_img{
        width: 35px;
        height: 35px;
        margin: 7px 7px;
        display: block;
        
      
    }
   
    .nav_div{
      /* display: none; */
      width: 200px;
      height: 100vh;
      background: #c8c7c7;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      /* to get transition */
      transform: translateX(100%);
      transition: all 0.5s;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    .menu-list{
      flex-direction: column;
      gap: 4.8rem;
      list-style: none;
    }
   .nav-link:link,.nav-link:visited{
     display: inline-block;
     text-transform: uppercase;
     text-decoration: none;
     font-family: 'Oswald', sans-serif;
     color: rgb(4, 8, 7);
     font-size: 1.5rem;
     transition: all 0.3s;
   }
   .active .nav_div{
      transform: translateX(0);
      transition: all 0.5s;
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
   }
   .active #menu_div .open_img{
   
    display: none;
   }
   
   .active #menu_div .close_img{
    margin: -9px -9px;
    display: block;
    transition: all 0.5s;
    transform: rotate(180 deg);
   }
   
      
   
  }
  